/* Game Background
*	
* If you want to have the game specific background image, please uncomment the following block
*/

/*Use cover or contain; scroll or fixed for our own adjustments/*
#header {
	background: transparent url('TEMPLATE_BACKGROUND') no-repeat center top; 
	background-size: contain; 
	display:block;
	width: 100%;
	background-attachment: fixed; 
	text-align:center;
}

#wrapper header {
	background: none !important;
}

body {	
	background:#0e0e0e url('images/background_body.png') no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;	
}
*/


/*============================================================================================*/

/* Fixed personal area 
*	
* If you want the personal area to have a fixed position, please uncomment the following block
*/

/*

#header {
	margin-top: 60px;
}

#personalArea {
	position:fixed;
	padding-left: 0px;
	padding-right: 0px;
	width:100%;
	z-index: 999;
}
#personalArea #personalAreaUser {
	padding-left: 40px;
}
#personalArea #personalAreaTime {
	padding-right: 40px;
}
*/

/*============================================================================================*/

/* Hide Portal Modules on Smartphones
*
* If you want to hide portal modules on Smartphone, get the CSS-Class for the module from the source text in your browser, uncomment the following block and add the CSS Class
*/
/*
@media all and (max-width: 480px) {
	.offi_conf_portal, .birthday_portal {
		display: none;
	}
}
*/

/*============================================================================================*/

/* Give Article Headlines of some categories (here: Category #2) a special color */

/*
.article-container[data-article-category-id="2"] h2 a, .article_detail_container[data-article-category-id="2"] h1{
	color: #efefef;
}
*/